.example-container {
  position: fixed;
  top: 60px;
  bottom: 60px;
  left: 0;
  right: 0;
}
.header-title {
  top: 16px;
  margin-left: 20px;
  position: fixed;
  z-index: 2;
  color: white;
}
.header-title-mobile {
  top: 12px;
  margin-left: 76px;
}
.mat-drawer-backdrop.mat-drawer-shown {
  background: none;
}
.sidenav-content {
  padding: 16px;
}
.sidenav-content-mobile {
  padding: 0px;
}
.mat-drawer {
  overflow : visible !important;
  overflow-x : visible !important;
  overflow-y : visible !important;
}
.mat-drawer-container {
  overflow : visible !important;
  overflow-x : visible !important;
  overflow-y : visible !important;
}
.example-sidenav {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 240px;
  border-right: 1px solid rgba(0,0,0,.14);

}

.example-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;

}

.leftbar-link {
  margin-left: 0px;
  padding-left: 34px;
}
.mat-list, .mat-nav-list, .mat-selection-list {
  padding-top: 0 !important;
}
.my-list-item {
  height: 64px !important;
}
.my-list-item-mobile {
  height: 56px !important;
}
.my-list-item-link {
  height: 64px !important;
}
.sidenav-avatar {
  border-radius: 50%;
  background-size: cover;
  margin-right: 16px;
}
.mat-nav-list a.active {
  background: rgba(0,0,0,.04);
}
.nav-mat-icon {
  color: rgba(0, 0, 0, 0.54);
}
.spacer {
  flex: 1 1 auto;
}
.main-spinner {
  margin: 100px auto;
  width: 50px;
  height: 40px;
  text-align: center;
  font-size: 10px;
}

.main-spinner > div {
  background-color: #333;
  height: 100%;
  width: 6px;
  display: inline-block;
  
  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.main-spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.main-spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.main-spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.main-spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes sk-stretchdelay {
  0%, 40%, 100% { 
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% { 
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}