<mat-card class="stream-detail-card">
  <mat-card-header>
    <span class="spacer"></span>
<app-post-menu [id]="post?.key" [uid]="post.author.uid"></app-post-menu>
    <div mat-card-avatar class="stream-detail-avatar" [ngStyle]="{'background-image': 'url(' + post.author.photoURL + ')'}"></div>
    <mat-card-title>{{ post.author.displayName }}</mat-card-title>
    <mat-card-subtitle>
      <div *ngIf="post.createdAt; then done else pending"></div>
      <ng-template #done> {{ post.createdAt | date : 'd. LLLL yyyy, H:mm':'':'de'}}</ng-template>
      <ng-template #pending>pending...</ng-template>
    </mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <p class="mat-body-1 stream-detail-text-content">
      {{ post.content }}
    </p>
  </mat-card-content>

</mat-card>

<mat-expansion-panel class="stream-panel">
  <mat-expansion-panel-header>
    Kommentare
  </mat-expansion-panel-header>
  <mat-list  dense>
    <mat-list-item class="comment-list">
      <p>
        <span class="comment-name">Michael Skodowski:</span> Mithilfe der Analytics-Berichte können Sie Ihre App-Daten für verschiedene Zeiträume analysieren,
        um Trends und Anomalien in den verschiedenen Segmenten
      </p>
    </mat-list-item>  
    <mat-list-item class="comment-list">
    12.12.1212
    </mat-list-item>
    <mat-list-item class="comment-list">
      <p>
        <span class="mat-body-2">Michael Skodowski:</span> Mithilfe der Analytics-Berichte können Sie Ihre App-Daten für verschiedene Zeiträume analysieren,
        um Trends und Anomalien in den verschiedenen Segmenten
      </p>
    </mat-list-item>
    <mat-list-item class="comment-list">
      <span class="mat-caption">
        12.12.1212
      </span>
    </mat-list-item>
    <mat-list-item class="comment-list">
      <p>
        <span class="mat-body-2">Michael Skodowski:</span> Mithilfe der Analytics-Berichte können Sie Ihre App-Daten für verschiedene Zeiträume analysieren,
        um Trends und Anomalien in den verschiedenen Segmenten
      </p>
    </mat-list-item>
    <mat-list-item class="comment-list">
      <span class="mat-caption">
        12.12.1212
      </span>
    </mat-list-item>
    <mat-list-item class="comment-list">
      <p>
        <span class="mat-body-2">Michael Skodowski:</span> Mithilfe der Analytics-Berichte können Sie Ihre App-Daten für verschiedene Zeiträume analysieren,
        um Trends und Anomalien in den verschiedenen Segmenten
      </p>
    </mat-list-item>
    <mat-list-item class="comment-list">
      <span class="mat-caption">
        12.12.1212
      </span>
    </mat-list-item>
  </mat-list>
  <form class="example-form">
   
      <mat-form-field class="example-full-width">
        <textarea matInput placeholder="Leave a comment"></textarea>
      </mat-form-field>
    </form>
  <mat-action-row>
    <button mat-raised-button color="primary">Click me</button>
  </mat-action-row>
</mat-expansion-panel>
