<p>
  test works!
</p>

<mat-card>
  <mat-form-field>
    <input #msg [(ngModel)]="content" matInput placeholder="label" value="value">
  </mat-form-field>
  <button mat-button (click)="newPost(content)">text</button>
</mat-card>
<button (click)="followUser('njcHiz8vz4fI5qVtIRgKGdKqxWF2')" mat-button>follow</button>
<button (click)="unFollowUser('njcHiz8vz4fI5qVtIRgKGdKqxWF2')" mat-button>unfollow</button>
<!-- <mat-card>
  posts:
  <div *ngFor="let post of posts$ | async">
      {{post.author.displayName}} - {{post.content}}
  </div>
</mat-card> -->
<mat-card>
  feed:
  <div *ngFor="let feed of feed | async">
    {{feed.author.displayName}} - {{feed.content}}
  </div>
</mat-card>