<div class="profile" *ngIf="userRef | async as user">
  <mat-card class="profile-card">
    <mat-card-content>
      <div class="profile-container">
        <mat-form-field floatLabel="always">
          <input class="disabled-input" [value]="user.displayName" matInput placeholder="Name" disabled>
        </mat-form-field>
        <mat-form-field floatLabel="always">
          <input class="disabled-input" [value]="user.email" matInput placeholder="E-Mail" disabled>
        </mat-form-field>

      </div>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button color="primary">SPEICHERN</button>
      </mat-card-actions>
  </mat-card>
</div>